$sidebarWidth: 150px;
$headerHeight: 50px;
$containerHeight: 1200px;
$articlesHeight: 600px;
$bgColor: #eee;

$liInterval: 15px;
$aPadding: 2px;
$articleMargin: 30px;

$imgWidth: 300px;

@mixin aCompo {
    font-size: 1.25em;
    text-decoration: none;
    padding: $aPadding;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #999;
}

@mixin holySetting {
    float:left;
    width: $sidebarWidth;
    position: relative;
    right: -$sidebarWidth;
    margin-left: -$sidebarWidth;
}

@mixin articleLayout {
    margin: $articleMargin;
    a {
        text-decoration: none;
        font-size: 1.2em;
        color: #000;
        &:hover {
            color: 	#999;
            text-decoration: underline;
        }
    }
    span.author {
        color: green;
    }
    span.time {
        color: green;
    }
}

@mixin productsLayout {
    $padding: 10px;
    margin: $articleMargin;
    overflow: hidden;
    
    > .product {

        float: left;
        margin-right: 1%;
        background-color: #aaa;
        border: 1px solid transparent;
        border-radius: 8px;
        width: 20%;
        padding: 0 10px 10% 10px;

        > span.price {
            font-size: 1.1em;
            color: red;
        }

        > img {
            width: 100%;
            height: 100%;
        }

        > button > a {
            text-decoration: none;
        }
    }
}

// buttonTriggerComponent
@mixin triggerSetting {
    color: #222;
    &:hover {
        background-color: #888;
    }
    border: 1px solid #000;
    border-radius: 8px;
}
body {
    padding: 0 $headerHeight;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    > header { 
        padding: 0 $sidebarWidth 0 0;
        overflow: hidden;
        > nav {
            height: $headerHeight;  
            width: 100%;
            float: left;  
            > li {
                list-style: none;
                margin: 0 $liInterval 0 0;
                display: inline-block;
                line-height: $headerHeight;
            }

            a {
                @include aCompo();
                &:visited {
                    color: green;
                }
                &:hover {
                    background-color: mix(#ddd, #fff, 25%);
                }
            }
        }
        > div.reg-log {
            @include holySetting();

            height: $headerHeight;
                
            a {
                line-height: $headerHeight;
                @include aCompo();
               
                &:nth-child(2) {
                    background-color: green;
                    color: #fff;
                }
                &:nth-child(1):hover {
                    background-color: mix(#ddd, #fff, 25%);
                }
            }
        }
    }

    > .container {
        background-color: $bgColor;
        padding: 0 $sidebarWidth 0 0;
        overflow: hidden;
        
        > .main {
            float: left;
            width: 100%;
            padding-bottom: 10%;

            > .divForm {
                margin: $articleMargin;
                label, input, textarea {
                    display: block;
                }

                > button.articlePostTrigger {
                    @include triggerSetting();
                }

                > button.reviewPostTrigger {
                    @include triggerSetting();
                }

                > .hidden {
                    display: none;
                }
            }

            > .articles {
                height: $articlesHeight;
                > .article {
                    @include articleLayout();
                }
            }  

            > article {
                @include articleLayout();                
            }

            > .reviews {
                height: $articlesHeight;
                > .review {
                    margin: $articleMargin;
                    span.author {
                        color: green;
                    }
                    span.time {
                        color: green;
                    }
                }
            }

            > .products {
                @include productsLayout();
            }

            > .pages {
                width: 70%;
                margin: 20px auto 0 auto;
                background: #fefefe;
                display: flex;
                text-align: center;
              
                >a {
                    color: #555;
                    flex-grow: 1;
                    background: #fefefe;
                    line-height: 35px;
                    margin: 3px;
                    border: 1px solid #eee;
                    text-decoration: none;
                    &.active {
                        background-color: #efefef;
                    }
                }
            }
        }
    
        > .right {
            @include holySetting();

            background-color: mix($bgColor, #fff);
            padding-bottom: 100%;
            > div.reg-log {
                position: relative;
                top: - $headerHeight / 2;
            }
        }
    }
}
  
