<%- include('header', {user: user}) %>
    <div class="container">
        <div class="main">
            <div><a href="">最新发布</a></div>
        </div>
        <div class="right"></div>
    </div>
<body>   
<%- include('footer') %>
