body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body > header {
    padding: 0 150px 0 0;
    overflow: hidden; }
    body > header > nav {
      height: 50px;
      width: 100%;
      float: left; }
      body > header > nav > li {
        list-style: none;
        margin: 0 15px 0 0;
        display: inline-block;
        line-height: 50px; }
      body > header > nav a {
        font-size: 1.25em;
        text-decoration: none;
        padding: 2px;
        border: 1px solid transparent;
        border-radius: 2px;
        color: #999; }
        body > header > nav a:visited {
          color: green; }
        body > header > nav a:hover {
          background-color: #f7f7f7; }
    body > header > div.reg-log {
      float: left;
      width: 150px;
      position: relative;
      right: -150px;
      margin-left: -150px;
      height: 50px; }
      body > header > div.reg-log a {
        line-height: 50px;
        font-size: 1.25em;
        text-decoration: none;
        padding: 2px;
        border: 1px solid transparent;
        border-radius: 2px;
        color: #999; }
        body > header > div.reg-log a:nth-child(2) {
          background-color: green;
          color: #fff; }
        body > header > div.reg-log a:nth-child(1):hover {
          background-color: #f7f7f7; }
  body > .container {
    background-color: #eee;
    padding: 0 150px 0 0;
    overflow: hidden;
    height: 1200px; }
    body > .container > .main {
      float: left;
      width: 100%; }
      body > .container > .main > .divForm {
        margin: 30px; }
        body > .container > .main > .divForm label, body > .container > .main > .divForm input, body > .container > .main > .divForm textarea {
          display: block; }
        body > .container > .main > .divForm > button.articlePostTrigger {
          color: #222;
          border: 1px solid #000;
          border-radius: 8px; }
          body > .container > .main > .divForm > button.articlePostTrigger:hover {
            background-color: #888; }
        body > .container > .main > .divForm > button.reviewPostTrigger {
          color: #222;
          border: 1px solid #000;
          border-radius: 8px; }
          body > .container > .main > .divForm > button.reviewPostTrigger:hover {
            background-color: #888; }
        body > .container > .main > .divForm > .hidden {
          display: none; }
      body > .container > .main > .articles {
        height: 600px; }
        body > .container > .main > .articles > .article {
          margin: 30px; }
          body > .container > .main > .articles > .article a {
            text-decoration: none;
            font-size: 1.2em;
            color: #000; }
            body > .container > .main > .articles > .article a:hover {
              color: #999;
              text-decoration: underline; }
          body > .container > .main > .articles > .article span.author {
            color: green; }
          body > .container > .main > .articles > .article span.time {
            color: green; }
      body > .container > .main > article {
        margin: 30px; }
        body > .container > .main > article a {
          text-decoration: none;
          font-size: 1.2em;
          color: #000; }
          body > .container > .main > article a:hover {
            color: #999;
            text-decoration: underline; }
        body > .container > .main > article span.author {
          color: green; }
        body > .container > .main > article span.time {
          color: green; }
      body > .container > .main > .reviews {
        height: 600px; }
        body > .container > .main > .reviews > .review {
          margin: 30px; }
          body > .container > .main > .reviews > .review span.author {
            color: green; }
          body > .container > .main > .reviews > .review span.time {
            color: green; }
      body > .container > .main > .pages {
        width: 70%;
        margin: 20px auto 0 auto;
        background: #fefefe;
        display: flex;
        text-align: center; }
        body > .container > .main > .pages > a {
          color: #555;
          flex-grow: 1;
          background: #fefefe;
          line-height: 35px;
          margin: 3px;
          border: 1px solid #eee;
          text-decoration: none; }
          body > .container > .main > .pages > a.active {
            background-color: #efefef; }
    body > .container > .right {
      float: left;
      width: 150px;
      position: relative;
      right: -150px;
      margin-left: -150px;
      height: 100%;
      background-color: #f7f7f7; }
      body > .container > .right > div.reg-log {
        position: relative;
        top: -25px; }
